.git
.gitignore
.env
.env.example
.pytest_cache
.venv
.venv/
venv
venv/
__pycache__
*.pyc
*.pyo
*.egg-info
/dist
/build
.DS_Store
*.db
*.sqlite
*.sqlite3
.idea
.vscode
*.swp
*.swo
*~
.coverage
htmlcov
.pytest_cache
.mypy_cache
node_modules
npm-debug.log
yarn-error.log
.github
.gitattributes
*.md
LICENSE
logs/
.python-version
uv.lock
